In [2]:
import requests
import pandas

In [3]:
offset_start = 0
offset_end = 10
limit = 100

In [4]:
url = 'https://xn--80az8a.xn--d1aqf.xn--p1ai/сервисы/api/kn/object?offset={offset}&limit={limit}&sortType=asc'
dataframe_list = []
for i in range(offset_start, offset_end + 1):
    request = requests.get(url.format(offset=i, limit=limit))
    request_json = request.json()
    # check if data empty => there is no more objects
    if not request_json["data"]["list"]:
        break
    dataframe_list.append(pandas.DataFrame(request_json["data"]["list"]))

In [5]:
full_result_df = pandas.concat(dataframe_list)
full_result_df.describe()

,objId,rpdRegionCd,objFloorMin,objFloorMax,objElemLivingCnt,objSquareLiving,objCompensFundFlg,objProblemFlg,latitude,longitude,objGuarantyEscrowFlg,residentialBuildings,pdId,objStatus,problemId,dduFlg,transferFlg
count,1100.000000,1100.000000,1011.000000,1055.000000,1089.000000,1089.000000,1067.0,1100.000000,1100.000000,1100.00000,1067.000000,1100.000000,1100.000000,1100.000000,33.000000,33.0,33.0
mean,273.591818,49.162727,10.609298,13.515640,205.064279,10439.283710,0.0,0.030000,53.893687,53.38187,0.010309,0.979091,575.927273,1.950000,35863.666667,1.0,0.0
std,233.110442,23.295660,6.341649,7.108904,170.258615,7907.354958,0.0,0.170665,4.549279,27.25672,0.101057,0.143145,322.452638,0.259926,6631.610776,0.0,0.0
min,7.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.0,0.000000,43.101400,20.14470,0.000000,0.000000,14.000000,0.000000,26644.000000,1.0,0.0
25%,68.500000,27.500000,6.000000,7.500000,84.000000,4096.240000,0.0,0.000000,53.170000,37.50540,0.000000,1.000000,276.000000,2.000000,26644.000000,1.0,0.0
50%,173.500000,50.000000,10.000000,12.000000,162.000000,8493.700000,0.0,0.000000,55.168700,41.91320,0.000000,1.000000,572.000000,2.000000,40008.000000,1.0,0.0
75%,509.500000,69.000000,15.000000,19.000000,281.000000,15212.600000,0.0,0.000000,56.695200,60.64140,0.000000,1.000000,821.000000,2.000000,40939.000000,1.0,0.0
max,726.000000,86.000000,26.000000,27.000000,1553.000000,50459.710000,0.0,1.000000,61.095000,131.96070,1.000000,1.000000,1242.000000,2.000000,40939.000000,1.0,0.0

In [6]:
full_result_df.columns

Index(['objId', 'developer', 'rpdRegionCd', 'objAddr', 'objCommercNm',
       'objFloorMin', 'objFloorMax', 'objElemLivingCnt', 'objReady100PercDt',
       'objSquareLiving', 'objCompensFundFlg', 'objProblemFlg', 'latitude',
       'longitude', 'problemFlag', 'siteStatus', 'objGuarantyEscrowFlg',
       'residentialBuildings', 'rpdNum', 'pdId', 'buildType', 'objStatus',
       'complexShortName', 'problemId', 'problemReason', 'dduFlg',
       'transferFlg'],
      dtype='object')

In [7]:
rename_dict = {
    'objId': 'id',
    'rpdRegionCd': 'region_code',
    'objAddr': 'address', 
    'objCommercNm': 'commercial_name',
    'objFloorMin': 'min_floor',
    'objFloorMax': 'max_floor',
    'objElemLivingCnt': 'living_count',
    'objReady100PercDt': 'ready_date',
    'objSquareLiving': 'living_square',
    'objCompensFundFlg': 'fund_flag',
    'objProblemFlg': 'problem_flag',
    'siteStatus': 'status',
    'objGuarantyEscrowFlg': 'guaranty_escrow_flg',
    'residentialBuildings': 'residential_buildings',
    'rpdNum': 'rpd_num',
    'pdId': 'pd_id',
    'buildType': 'build_type',
    'objStatus': 'obj_status',
    'complexShortName': 'short_name',
    'problemId': 'problem_id',
    'problemReason': 'problem_reason',
    'dduFlg': 'ddu_flag',
    'transferFlg': 'transfer_flg'
}
full_result_df.rename(columns=rename_dict, inplace=True)

In [8]:
full_result_df.head()

,id,developer,region_code,address,commercial_name,min_floor,max_floor,living_count,ready_date,living_square,...,residential_buildings,rpd_num,pd_id,build_type,obj_status,short_name,problem_id,problem_reason,ddu_flag,transfer_flg
0,7,"{'devId': 62, 'shortName': 'ОДИС', 'fullName':...",77,"г Москва, район Теплый стан, ул Профсоюзная, в...","«ДОМ №128», «ДОМ 128»",21.0,21.0,0.0,2019-04-09,0.00,...,0,77-000543,52,Нежилое,2,NaN,NaN,NaN,NaN,NaN
1,8,"{'devId': 2, 'shortName': 'ЛЭНД ЮГ', 'fullName...",77,"д Столбово, д. 2","ЖК ""Москвичка""",2.0,15.0,1553.0,2019-12-12,50459.71,...,1,77-000544,14,Жилое,2,NaN,NaN,NaN,NaN,NaN
2,9,"{'devId': 8, 'shortName': 'СЗГРАНЕЛЬ СТРОЙ', '...",50,"ГОРОД БАЛАШИХА, УЛИЦА ЛУКИНО, вл. 51","ЖК ""Новая Алексеевская роща""",NaN,NaN,108.0,2018-12-14,4312.76,...,1,50-000708,86,Жилое,2,NaN,NaN,NaN,NaN,NaN
3,10,"{'devId': 2, 'shortName': 'ЛЭНД ЮГ', 'fullName...",77,"п Москва, д. 2, корпус 4",NaN,NaN,NaN,1376.0,2019-03-25,43524.20,...,1,77-000546,92,Жилое,2,NaN,NaN,NaN,NaN,NaN
4,11,"{'devId': 2, 'shortName': 'ЛЭНД ЮГ', 'fullName...",77,"поселение Сосенское, вблизи д. Столбово, д. 2,...",NaN,NaN,NaN,709.0,2018-12-12,22237.40,...,1,77-000545,102,Жилое,2,NaN,NaN,NaN,NaN,NaN

In [9]:
# create one more dataframe with developer info
developers_df = pandas.DataFrame(full_result_df.developer.tolist())
result_df = full_result_df.drop(columns='developer')
developers_df.ban()

,devId,shortName,fullName,groupName,orgForm,companyGroup,devInn,bankruptStage,orgBankruptMsgDttm
0,62,ОДИС,ОДИС,КОРТРОС,"{'id': 4, 'fullForm': 'Общество с ограниченной...",429541001.0,7703533453,NaN,NaN
1,2,ЛЭНД ЮГ,ЛЭНД ЮГ,Гранель,"{'id': 4, 'fullForm': 'Общество с ограниченной...",955386001.0,5003081800,NaN,NaN
2,8,СЗГРАНЕЛЬ СТРОЙ,СПЕЦИАЛИЗИРОВАННЫЙ ЗАСТРОЙЩИКГРАНЕЛЬ СТРОЙ,Гранель,"{'id': 4, 'fullForm': 'Общество с ограниченной...",955386001.0,5044094862,NaN,NaN
3,2,ЛЭНД ЮГ,ЛЭНД ЮГ,Гранель,"{'id': 4, 'fullForm': 'Общество с ограниченной...",955386001.0,5003081800,NaN,NaN
4,2,ЛЭНД ЮГ,ЛЭНД ЮГ,Гранель,"{'id': 4, 'fullForm': 'Общество с ограниченной...",955386001.0,5003081800,NaN,NaN

In [10]:
# export to excel 
excel_filename = 'result.xlsx'
with pandas.ExcelWriter(excel_filename) as writer:  
    result_df.to_excel(writer, sheet_name='objects')
    developers_df.to_excel(writer, sheet_name='developers')

In [11]:
# export to pickle
picle_filename = 'result.pkl'
result_df.to_pickle(picle_filename)

In [34]:
from sqlalchemy import create_engine
# save to memory sql
engine = create_engine('sqlite:///:memory:')
# exclude complex columns to export to sql
object_export_cols_exclude = ['problem_reason']
result_df.drop(columns=object_export_cols_exclude).to_sql('objects', con=engine)
developers_export_cols_exclude = ['bankruptStage', 'orgForm']
developers_df.drop(columns=developers_export_cols_exclude).to_sql('developers', con=engine)

In [35]:
# read from memory sql
pandas.read_sql('select * from objects', engine).head()

,index,id,region_code,address,commercial_name,min_floor,max_floor,living_count,ready_date,living_square,...,guaranty_escrow_flg,residential_buildings,rpd_num,pd_id,build_type,obj_status,short_name,problem_id,ddu_flag,transfer_flg
0,0,7,77,"г Москва, район Теплый стан, ул Профсоюзная, в...","«ДОМ №128», «ДОМ 128»",21.0,21.0,0.0,2019-04-09,0.00,...,0.0,0,77-000543,52,Нежилое,2,None,NaN,NaN,NaN
1,1,8,77,"д Столбово, д. 2","ЖК ""Москвичка""",2.0,15.0,1553.0,2019-12-12,50459.71,...,0.0,1,77-000544,14,Жилое,2,None,NaN,NaN,NaN
2,2,9,50,"ГОРОД БАЛАШИХА, УЛИЦА ЛУКИНО, вл. 51","ЖК ""Новая Алексеевская роща""",NaN,NaN,108.0,2018-12-14,4312.76,...,0.0,1,50-000708,86,Жилое,2,None,NaN,NaN,NaN
3,3,10,77,"п Москва, д. 2, корпус 4",None,NaN,NaN,1376.0,2019-03-25,43524.20,...,0.0,1,77-000546,92,Жилое,2,None,NaN,NaN,NaN
4,4,11,77,"поселение Сосенское, вблизи д. Столбово, д. 2,...",None,NaN,NaN,709.0,2018-12-12,22237.40,...,0.0,1,77-000545,102,Жилое,2,None,NaN,NaN,NaN

In [22]:
def get_image_url(request):
    if request.status_code == 200:
        req_json = request.json()
        if req_json.get('data', {}).get('photoRenderDTO', {}):
            photo_list_objs = req_json['data']['photoRenderDTO']
            # select only first photo
            return photo_list_objs[0].get('objRenderPhotoUrl', None)

In [23]:
# save in current folder
import os
path = os.path.abspath(os.getcwd())
# create folder for images
try:
    os.mkdir('images')
except FileExistsError:
    # if folder already exists
    pass

images_folder = path + '/images'
# get all objects id for url
objects_id = result_df['id'].unique().tolist()
object_url = 'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/object/{obj_id}'

for object_id in objects_id:
    request = requests.get(object_url.format(obj_id=object_id), stream=True)
    image_url = get_image_url(request)
    if image_url:
        request_image = requests.get(image_url)
        image_name = f'{images_folder}/{object_id}.jpg'
        with open(image_name, 'wb') as f:
            f.write(request_image.content)